<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <% counter = 0 %>
  <h2>Tasks</h2>

  <ul id="sortable">
  <%= f.fields_for :tasks do |ff| %>
    <div "fields">
        <li class="ui-state-default">
          <%= ff.label :name %>
          <%= ff.text_field :name %>
          <%= ff.label :due %>
          <%= ff.date_field :due %>
          <%= ff.label :_destroy %>
          <%= ff.check_box :_destroy %>
          <%= ff.object.order_number %>
          <%= ff.hidden_field :order_number, class: "orderNum" %>
        </li>
    </div>
    <% counter += 1 %>
  <% end %>
</ul>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="info"></div>
