<ul class="list-group">
  <% list.tasks.order(:order_number).each do |task| %>
    <li class="list-group-item list-group-item-info">
      <%= task.order_number %>.
      <%= task.name %>
      <%= task.due.strftime("%b %e, %Y") if !task.due.nil? %>
      <%= link_to 'Woo!', task_path(task), method: :delete, class: 'delete-button' %>
      <%= form_for list, url: "/lists/#{list.id}/completed",  remote: true do |l| %>
      <%= l.fields_for task do |f| %>
        <div class="destroy-container"><%= f.check_box :_destroy, class: "task-destroy" %></div>
      <% end %>
      <div class="destroy-container"><%= l.submit %></div>
      <% end %>
    </li>
  <% end %>
</ul>
