<%= render '/layouts/navbar' %>


<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<p>
  <strong>Tasks:</strong>
  <ul class="list-group">
    <% @list.tasks.order(:order_number).each do |task| %>
      <li class="list-group-item list-group-item-info">
        <%= task.order_number %>.
        <%= task.name %>
        <%= task.due.strftime("%b %e, %Y")  if !task.due.nil? %>
        <button class="label label-info remove">Woo!</button>
      </li>
    <% end %>
  </ul>
</p>

<button class="btn btn-info">
  <%= link_to 'Delete List', @list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</button>
