

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Your Task Lists:</strong>
    <ol>
      <% @user.lists.each do |list| %>
        <li><%= list.name %> has <%= list.tasks.count %> undone tasks. <%= link_to "View", list %></li>
      <% end %>
    </ol>
</p>


<%= link_to 'Edit Your Information', edit_user_path(@user) %>
<%= link_to 'Home', lists_path %>
